

@import '../../styles/variables.scss';

.galeri {
  position: relative;
  background-color: $color-light-grey;
  width: 100%;
  height: 100%;
  padding: 4rem;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    top: 0;
    left: 0;
    border-width: 100px 100px 0 0;
    border-color: $color-sun-yellow transparent transparent transparent;
  }

  &:after {
    bottom: 0;
    right: 0;
    border-width: 0 100px 100px 0;
    border-color: transparent transparent $color-coral transparent;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Default to three columns for larger screens
    gap: 2rem;
    margin-top: 2rem;

    // Responsive adjustments
    @media (max-width: 768px) { // Adjust for tablets and large phones
      grid-template-columns: repeat(2, 1fr); // Two columns on smaller devices
    }

    @media (max-width: 480px) { // Adjust for smaller phones
      grid-template-columns: 1fr; // One column on very small devices
      padding: 2rem; // Reduce padding for smaller screens
      gap: 1rem; // Reduce gap to save space
    }

    .gallery-item {
      background-color: $color-white;
      padding: 1rem;
      box-shadow: 0 0.5rem 1rem rgba($color-almost-black, 0.2);
      transition: transform 0.2s;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100%; // Ensure the image fills the container
        height: auto; // Maintain aspect ratio
        border-radius: 0.5rem; // Slightly rounded corners
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 3rem;
      color: $color-white;
      cursor: pointer;
      z-index: 1001;
    }

    .modal-content {
      max-width: 90%;
      max-height: 80%;
      z-index: 1000;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba($color-black, 0.6);
      backdrop-filter: blur(8px);
      z-index: 999;
    }
  }
}



/*@import '../../styles/variables.scss';

.galeri {
  position: relative;
  background-color: $color-light-grey;
  width: 100%;
  height: 100%;
  padding: 4rem;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    top: 0;
    left: 0;
    border-width: 100px 100px 0 0;
    border-color: $color-sun-yellow transparent transparent transparent;
  }

  &:after {
    bottom: 0;
    right: 0;
    border-width: 0 100px 100px 0;
    border-color: transparent transparent $color-coral transparent;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Set to three columns per row
    gap: 2rem;
    margin-top: 2rem;

    .gallery-item {
      background-color: $color-white;
      padding: 1rem;
      box-shadow: 0 0.5rem 1rem rgba($color-almost-black, 0.2);
      transition: transform 0.2s;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100%; // Ensure the image fills the container
        height: auto; // Maintain aspect ratio
        border-radius: 0.5rem; // Slightly rounded corners
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 3rem;
      color: $color-white;
      cursor: pointer;
      z-index: 1001;
    }

    .modal-content {
      max-width: 90%;
      max-height: 80%;
      z-index: 1000;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba($color-black, 0.6);
      backdrop-filter: blur(8px);
      z-index: 999;
    }
  }
}
*/